<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Existencia de articulos</title>
    <link rel="shortcut icon" href="./src/cesta.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Existencias de articulos</a>
        </nav>
    </header>
    <div class="container" id="app">
        <div v-if="loading" id="loading" class="modal-dialog-centered">
            <img src="./src/spinner.gif" alt="" width="200px" height="200px">
        </div>

        <div v-if="!showDetails">
            <div class="form-group">
                <label for="nameArticulo">Nombre del articulo</label>
                <div class="input-group mb-3">
                    <input id="nameArticulo" class="form-control" type="text" aria-describedby="helpNameArticle" name="" placeholder="*NombreArticulo*" v-model="textSearch">
                    <div class="input-group-append">
                        <span class="btn btn-primary" type="button" ref="btnSearch" @click="getArticulos()">Buscar</span>
                    </div>
                </div>
                <small class="form-text text-muted" id="helpNameArticle">Para la busqueda del articulo puede incluir los *</small>
            </div>

            <button v-if="NumSearch > 0" class="btn btn-primary" type="button" @click="goDetails">Adelante >></button>
            
            <div v-if="NumSearchProducts > 0" class="alert alert-primary mt-3" role="alert">
                <label for="#"><span class="font-weight-bold">Articulos encontrados:</span> {{finded}}</label>
            </div>
    
            <div v-if="!movil" style="overflow: auto;">
                <table class="table table-light">
                    <thead class="thead-dark">
                        <tr>
                            <th>Articulo</th>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Relacion</th>
                            <th>SubFamilia</th>
                            <th>DescSubfamilia</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="articulo in articulos">
                            <td>{{articulo.Articulo}}</td>
                            <td>{{articulo.CodigoBarras}}</td>
                            <td>{{articulo.Nombre}}</td>
                            <td>{{articulo.Relacion}}</td>
                            <td>{{articulo.Subfamilia}}</td>
                            <td>{{articulo.DescSubfamila}}</td>
                            <td><button class="btn btn-success" type="button" @click="getDetailsArticulo(articulo.Uri)">Detalles</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div v-if="movil" v-for="articulo in articulos" @click="getDetailsArticulo(articulo.Uri)" class="card mb-3 container-gen" style="max-width: 800px; box-shadow: 2px 2px 2px #e6e6e6;">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center" id="container-image">
                        <img src="./src/codigo.jpg" class="card-img mt-4 img-barcode" alt="" style="max-width: 200px;">
                        <h6 class="font-weight-bold barcode">{{articulo.CodigoBarras}}</h6>
                    </div>
                    <div class="divider-v"></div>
                    <div class="col-md-8" id="container-data">
                        <div class="card-body">
                            <h5 class="card-title">{{articulo.Nombre}}</h5>
                            <p class="card-text"><span class="font-weight-bold">Articulo:</span> {{articulo.Articulo}}</p>
                            <p class="card-text"><span class="font-weight-bold">Relacion:</span> {{articulo.Relacion}}</p>
                            <p class="card-text"><span class="font-weight-bold">Subfamilia:</span> {{articulo.Subfamilia}}</p>
                            <p class="card-text"><small class="text-muted">{{articulo.DescSubfamila}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div v-if="showDetails" id="detailsApp">
            <button class="btn btn-dark mt-2" type="button" @click="backMain"> Regresar </button>
            <div class="form-group mt-3">
                <label for="#"><span class="font-weight-bold">Articulo:</span> {{articulo.Articulo}}</label>
            </div>
            <div class="form-group mt-2">
                <label for="#"><span class="font-weight-bold">Nombre:</span> {{articulo.Nombre}}</label>
            </div>
            <div class="form-group mt-2">
                <label for="#"><span class="font-weight-bold">Relacion:</span> {{articulo.Relacion}}</label>
            </div>
            <div class="form-group mt-2">
                <label for="#"><span class="font-weight-bold">Existencia actual UC:</span> {{roundTo(articulo.ExistActualUC)}}</label>
            </div>
            <div class="form-group mt-2">
                <label for="#"><span class="font-weight-bold">Stock30 UC:</span> {{roundTo(articulo.Stock30UC)}}</label>
            </div>
            <div class="form-group mt-2">
                <label for="#"><span class="font-weight-bold">Costo Existencia Actual:</span> {{roundTo(articulo.CostoExistActual, 3)}}</label>
            </div>

            <div v-for="sucursal in articulo.existencias" class="card">
                <div class="card-header bg-info" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-right dropdown-toggle text-light" type="button" data-toggle="collapse" v-bind:data-target="'#'+namesSucursales[sucursal.sucursal]" aria-expanded="true" aria-controls="collapseOne">
                            {{namesSucursales[sucursal.sucursal]}}
                        </button>
                    </h2>
                </div>
                <div v-bind:id="namesSucursales[sucursal.sucursal]" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Estado de la conexion:</span> {{sucursal.status}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1  mb-0">
                                    <label for="#"><span class="font-weight-bold">Almacen:</span> {{sucursal.Almacen}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Tienda:</span> {{sucursal.Tienda}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Articulo:</span> {{sucursal.Articulo}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Codigo de Barras:</span> {{sucursal.CodigoBarras}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Nombre:</span> {{sucursal.Nombre}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Relacion:</span> {{sucursal.Relacion}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Existencia UV:</span> {{roundTo(sucursal.ExistUV, 2)}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Existencia UC:</span> {{roundTo(sucursal.ExistUC, 2)}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Costo Neto:</span> {{sucursal.CostoNet}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Costo Neto UC:</span> {{sucursal.CostoNetUC}}</label>
                                </div>
                                <div class="divider-h"></div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Costo Existencia:</span> {{roundTo(sucursal.CostoExist, 3)}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1  mb-0">
                                    <label for="#"><span class="font-weight-bold">Precio UNO:</span> {{roundTo(sucursal.PrecioUNO)}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Utilidad UNO:</span> {{parseToPorcent(roundTo(sucursal.UtilUNO, 2, true))}}%</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Precio DOS:</span> {{roundTo(sucursal.PrecioDOS)}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Utilidad DOS:</span> {{parseToPorcent(roundTo(sucursal.UtilDOS, 2, true))}}%</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Estatus:</span> {{sucursal.Estatus}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Stock30:</span> {{sucursal.Stock30}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Stock 30 UC:</span> {{sucursal.Stock30UC}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Subfamilia:</span> {{sucursal.Subfamilia}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Descripcion Sub:</span> {{sucursal.DescSubfamila}}</label>
                                </div>
                                <div class="divider-h"></div>
                                <div class="form-group mt-1 mb-0">
                                    <label for="#"><span class="font-weight-bold">Ultima Actualizacion:</span> {{sucursal.Updated}}</label>
                                </div>
                                <div class="divider-h"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group mt-1 mb-0">
                                    <button class="btn btn-success btn-block dropdown-toggle" type="button" data-toggle="collapse" v-bind:data-target="'#'+namesSucursales[sucursal.sucursal]+'compras'" aria-expanded="true" aria-controls="collapseOne">
                                        Compras encontradas: {{count(sucursal.compras)}}
                                    </button>
                                </div>
                                <div v-bind:id="namesSucursales[sucursal.sucursal]+'compras'" class="collapse mt-2" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div v-for="(value, key) in sucursal.compras">
                                        <div class="alert alert-info" role="alert">
                                            Compra #{{(key*1)+1}}
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="#"><span class="font-weight-bold">Fecha:</span> {{value.Fecha}}</label>
                                            <div class="divider-h"></div>
                                            <label for="#"><span class="font-weight-bold">NombreTercero:</span> {{value.NombreTercero}}</label>
                                            <div class="divider-h"></div>
                                            <label for="#"><span class="font-weight-bold">CantidadRegularUC:</span> {{value.CantidadRegularUC}}</label>
                                            <div class="divider-h"></div>
                                            <label for="#"><span class="font-weight-bold">CostoUnitarioNetoUC:</span> {{value.CostoUnitarioNetoUC}}</label>
                                            <div class="divider-h"></div>
                                            <label for="#"><span class="font-weight-bold">Updated:</span> {{value.Updated}}</label>
                                            <div class="divider-h"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider-h"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal para mensajes en forma de alert -->
        <div class="modal fade" id="alertDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <img class="float-left mr-3" src="./src/warning-white.png" alt="" width="30px">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{titleAlert}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-justify">
                        <p>{{messageAlert}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Boton oculto para alert -->
    <button id="btnAlert" class="invisible" type="button" data-toggle="modal" data-target="#alertDialog">Alert</button>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/index.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script> 
        window.onresize = function(event) {app.movil = app.isDiplayMovil();}
    </script>
</body>
</html>