<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Existencia de articulos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Existencias de articulos</a>
        </nav>
    </header>
    <div class="container" id="app">
        <div v-if="!showDetails">
            <div class="form-group">
                <label for="nameArticulo">Nombre del articulo</label>
                <div class="input-group mb-3">
                    <input id="nameArticulo" class="form-control" type="text" aria-describedby="helpNameArticle" name="" placeholder="*NombreArticulo*">
                    <div class="input-group-append">
                        <span class="btn btn-primary" type="button">Buscar</span>
                    </div>
                </div>
                <small class="form-text text-muted" id="helpNameArticle">Para la busqueda del articulo puede incluir los *</small>
            </div>
    
            <div v-if="!movil" style="overflow: auto;">
                <table class="table table-light">
                    <thead class="thead-dark">
                        <tr>
                            <th>Articulo</th>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Relacion</th>
                            <th>SubFamilia</th>
                            <th>DescSubfamilia</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="aritculo in articulos">
                            <td>{{aritculo.Articulo}}</td>
                            <td>{{aritculo.CodigoBarras}}</td>
                            <td>{{aritculo.Nombre}}</td>
                            <td>{{aritculo.Relacion}}</td>
                            <td>{{aritculo.Subfamilia}}</td>
                            <td>{{aritculo.DescSubfamila}}</td>
                            <td><button class="btn btn-success" type="button">Detalles</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div v-if="movil" v-for="articulo in articulos" @click="setUri(articulo.Uri)" class="card mb-3 container-gen" style="max-width: 800px; box-shadow: 2px 2px 2px #e6e6e6;">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center" id="container-image">
                        <img src="./src/codigo.jpg" class="card-img mt-4 img-barcode" alt="" style="max-width: 200px;">
                        <h6 class="font-weight-bold barcode">{{articulo.CodigoBarras}}</h6>
                    </div>
                    <div class="divider-v"></div>
                    <div class="col-md-8" id="container-data">
                        <div class="card-body">
                            <h5 class="card-title">{{articulo.Nombre}}</h5>
                            <p class="card-text"><span class="font-weight-bold">Articulo:</span> {{articulo.Articulo}}</p>
                            <p class="card-text"><span class="font-weight-bold">Relacion:</span> {{articulo.Relacion}}</p>
                            <p class="card-text"><span class="font-weight-bold">Subfamilia:</span> {{articulo.Subfamilia}}</p>
                            <p class="card-text"><small class="text-muted">{{articulo.DescSubfamila}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div v-if="showDetails" id="detailsApp">
            <button class="btn btn-dark mt-2" type="button" @click="backMain"> Regresar </button>
            <div class="form-group mt-3">
                <label for="#"><span class="font-weight-bold">Articulo:</span> {{articulo.Articulo}}</label>
            </div>
            <div class="form-group mt-2">
                <label for="#"><span class="font-weight-bold">Nombre:</span> {{articulo.Nombre}}</label>
            </div>
            <div class="form-group mt-2">
                <label for="#"><span class="font-weight-bold">Relacion:</span> {{articulo.Relacion}}</label>
            </div>
            <div class="form-group mt-2">
                <label for="#"><span class="font-weight-bold">Existencia actual UC:</span> {{articulo.ExistActualUC}}</label>
            </div>
            <div class="form-group mt-2">
                <label for="#"><span class="font-weight-bold">Stock30 UC:</span> {{articulo.Stock30UC}}</label>
            </div>
            <div class="form-group mt-2">
                <label for="#"><span class="font-weight-bold">Costo Existencia Actual:</span> {{articulo.CostoExistActual}}</label>
            </div>

            <div class="accordion" id="accordionExample">
                <div v-for="sucursal in articulo.existencias" class="card">
                    <div class="card-header bg-info" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-right dropdown-toggle text-light" type="button" data-toggle="collapse" v-bind:data-target="'#'+namesSucursales[sucursal.sucursal]" aria-expanded="true" aria-controls="collapseOne">
                                {{namesSucursales[sucursal.sucursal]}}
                            </button>
                        </h2>
                    </div>
                    <div v-bind:id="namesSucursales[sucursal.sucursal]" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Estado de la conexion:</span> {{sucursal.status}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1  mb-0">
                                        <label for="#"><span class="font-weight-bold">Almacen:</span> {{sucursal.Almacen}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Tienda:</span> {{sucursal.Tienda}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Articulo:</span> {{sucursal.Articulo}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Codigo de Barras:</span> {{sucursal.CodigoBarras}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Nombre:</span> {{sucursal.Nombre}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Relacion:</span> {{sucursal.Relacion}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Existencia UV:</span> {{sucursal.ExistUV}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Existencia UC:</span> {{sucursal.ExistUC}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Costo Neto:</span> {{sucursal.CostoNet}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Costo Neto UC:</span> {{sucursal.CostoNetUC}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Costo Existencia:</span> {{sucursal.CostoExist}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1  mb-0">
                                        <label for="#"><span class="font-weight-bold">Precio UNO:</span> {{sucursal.PrecioUNO}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Util UNO:</span> {{sucursal.UtilUNO}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Precio DOS:</span> {{sucursal.PrecioDOS}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Util DOS:</span> {{sucursal.UtilDOS}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Estatus:</span> {{sucursal.Estatus}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Stock30:</span> {{sucursal.Stock30}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Stock 30 UC:</span> {{sucursal.Stock30UC}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Subfamilia:</span> {{sucursal.Subfamilia}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Descripcion Sub:</span> {{sucursal.DescSubfamila}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                    <div class="form-group mt-1 mb-0">
                                        <label for="#"><span class="font-weight-bold">Ultima Actualizacion:</span> {{sucursal.Updated}}</label>
                                    </div>
                                    <div class="divider-h"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/index.js"></script>

    <script> 
        window.onresize = function(event) {app.movil = app.isDiplayMovil();}
    </script>
</body>
</html>